@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
   
    background-color: rgba(0, 0, 0, 0.9);


    

    margin: 0;
    padding: 0;
}

.logo{
    border-radius: 50%;
}

header {
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F45C43, #EB3349);
    padding: 20px;
    text-align: center;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
    height: 108px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    text-decoration: underline;
}

header p {
    font-size: 1.2em;
    margin: 5px 0 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #120101;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.btn {
    width: 9em;
    height: 3em;
    border-radius: 10em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;
    align-items: center;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-size: 0.5rem;
}

.btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.btn:hover::before {
    width: 9em;
}

.btn:hover {
    text-decoration: none;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

.box {
    background: #cb2d3e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: white;
    transition: transform 0.5s ease;
  box-shadow: 0 0 8px #e9eded, 0 0 10px #f8f5f8, 0 0 10px #f2eef6, 0 0 10px rgba(223, 221, 224, 0.6); 
}

.box p {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}
h5{
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.box:hover {
    transform: translateY(-20px);
}

footer {
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #F45C43, #EB3349);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
    font-size: 1.5em;
    margin: 10px 0;
    color: rgb(12, 1, 1);
    text-align: center;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

span{
    font-style: italic;
    font-size: 0.9rem;
}

.cursor {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #0100EC, #f50a0a);
    box-shadow: 0 0 15px #f5f5f9, 0 0 25px #e8e3e7, 0 0 35px #FB36F4;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.05s linear;
    animation: glow 1.5s infinite alternate;
}

@media (max-width: 768px) {
    .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .box-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }
}

a{
    text-decoration: none;
    color: black;
}




body.light-theme {
    background-color: rgba(255, 255, 255, 0.9);


    

    color: black;
}

header {
    transition: background-image 0.3s ease;
}

body.light-theme header {
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

nav ul li a {
    transition: color 0.3s ease;
}

body.light-theme ul li a {
    color: #f3efef;
}

body.light-theme header{
    color: #f3efef;
}

.btn {
    transition: background-image 0.3s ease, color 0.3s ease;
}

body.light-theme .btn::before {
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 15px #0f0f0f, 0 0 15px #161316, 0 0 20px #222222, 0 0 15px rgba(9, 9, 9, 0.6); 

}

body.light-theme .btn {
    color: black;
}

.box {
    transition: background-image 0.3s ease, box-shadow 0.3s ease;
}

body.light-theme footer {
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

body.light-theme .box {
    background: #1e3c72;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0 0 15px #0f0f0f, 0 0 15px #161316, 0 0 20px #222222, 0 0 15px rgba(9, 9, 9, 0.6); 

} 
   

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    margin-bottom: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

#theme-toggle:hover {
    transform: scale(1.1);
}

#theme-icon {
    width: 85%;
    height: 90%;
}
